In [225]:
import numpy as np
import pandas as pd

In [226]:
df = pd.read_excel("transition_data.xlsx", date_parser='-')

In [227]:
#Creation of a dataframe only with the year
df['Year'] = df['Date'].dt.year

In [228]:
df

        Id       Date  Rating  Year
0        1 2017-05-30       7  2017
1        1 2017-12-31       6  2017
2        2 2020-05-21       6  2020
3        3 2016-12-30       5  2016
4        3 2017-10-30       6  2017
...    ...        ...     ...   ...
3426  1825 2018-06-21       2  2018
3427  1826 2022-09-30       2  2022
3428  1828 2016-10-21       4  2016
3429  1829 2016-12-30       4  2016
3430  1829 2017-08-30       3  2017

[3431 rows x 4 columns]

In [214]:
new_df = df.drop_duplicates(subset=['Id','Year'], keep='last')

In [215]:
index = [1,2,3,4,5,6,7,8]
mat = pd.DataFrame(0, index = index, columns = index) #Creation of the empty transition matrix
for i in new_df["Id"].unique(): #iterating when the Id
	l = new_df[new_df["Id"] == i].reset_index() #Considering when Id are the same ( to get only one company)
	if len(l) > 1:
		for j in range(len(l)-1):
			print('truc')
			mat.loc[l.loc[j]["Rating"]][l.loc[j+1]["Rating"]] += 1
			print(l.loc[j]["Rating"],l.loc[j+1]["Rating"])
	else : 
		mat.loc[l.loc[0]["Rating"]][l.loc[0]["Rating"]] += 1

truc
5 6
truc
6 5
truc
5 6
truc
2 2
truc
4 4
truc
4 6
truc
6 5
truc
6 7
truc
7 8
truc
4 5
truc
5 5
truc
5 6
truc
6 5
truc
6 6
truc
5 6
truc
5 5
truc
4 4
truc
1 5
truc
2 3
truc
3 3
truc
3 3
truc
3 3
truc
2 1
truc
3 3
truc
4 6
truc
6 5
truc
5 5
truc
2 2
truc
2 2
truc
2 3
truc
4 4
truc
4 3
truc
6 7
truc
7 8
truc
5 6
truc
3 3
truc
5 5
truc
3 3
truc
3 3
truc
5 4
truc
5 5
truc
5 4
truc
4 4
truc
3 3
truc
3 4
truc
3 4
truc
4 4
truc
5 5
truc
5 4
truc
5 5
truc
5 4
truc
3 3
truc
3 3
truc
4 6
truc
3 4
truc
4 4
truc
5 6
truc
6 6
truc
5 5
truc
5 6
truc
5 5
truc
2 3
truc
5 5
truc
5 4
truc
4 4
truc
4 5
truc
4 4
truc
4 3
truc
4 5
truc
4 4
truc
3 3
truc
4 4
truc
3 3
truc
4 3
truc
3 3
truc
4 3
truc
3 2
truc
3 3
truc
5 4
truc
6 5
truc
2 3
truc
3 3
truc
2 2
truc
2 2
truc
3 3
truc
3 4
truc
5 4
truc
4 3
truc
3 3
truc
4 3
truc
2 2
truc
6 6
truc
6 7
truc
7 6
truc
3 3
truc
2 3
truc
6 6
truc
6 7
truc
6 7
truc
7 6
truc
3 5
truc
5 5
truc
4 3
truc
3 4
truc
4 5
truc
3 3
truc
2 3
truc
3 2
truc
5 5
truc
5 4
truc
4 3
truc
3 3
truc
2 2
truc
3 3
truc
3 3
truc
4 4
truc
4 4
truc
4 5
truc
5 5
truc
6 6
truc
3 4
truc
4 4
truc
4 5
truc
2 2
truc
2 2
truc
4 4
truc
2 1
truc
3 3
truc
5 5
truc
5 6
truc
6 6
truc
4 3
truc
3 3
truc
4 3
truc
3 4
truc
4 4
truc
4 4
truc
3 3
truc
3 3
truc
5 4
truc
4 4
truc
4 3
truc
5 3
truc
3 3
truc
4 3
truc
3 4
truc
4 4
truc
3 3
truc
3 4
truc
5 5
truc
5 6
truc
6 5
truc
5 6
truc
6 6
truc
3 4
truc
6 6
truc
6 6
truc
6 6
truc
4 4
truc
6 6
truc
5 6
truc
3 4
truc
4 4
truc
4 4
truc
4 5
truc
5 5
truc
5 6
truc
6 5
truc
3 4
truc
2 1
truc
3 4
truc
4 5
truc
4 4
truc
4 3
truc
6 7
truc
4 5
truc
5 6
truc
6 6
truc
5 5
truc
3 2
truc
3 4
truc
4 4
truc
4 5
truc
5 4
truc
4 4
truc
4 5
truc
5 6
truc
5 4
truc
4 4
truc
3 4
truc
4 5
truc
5 6
truc
6 6
truc
3 4
truc
4 4
truc
4 4
truc
4 4
truc
4 5
truc
8 7
truc
7 7
truc
6 6
truc
6 7
truc
4 4
truc
4 4
truc
5 5
truc
1 2
truc
5 5
truc
2 3
truc
5 4
truc
3 4
truc
4 4
truc
3 3
truc
3 3
truc
3 5
truc
6 6
truc
6 7
truc
6 5
truc
5 5
truc
6 6
truc
6 7
truc
6 7
truc
5 5
truc
4 3
truc
3 3
truc
4 4
truc
4 4
truc
5 6
truc
6 6
truc
6 7
truc
4 3
truc
5 5
truc
5 5
truc
4 5
truc
3 3
truc
5 6
truc
6 6
truc
4 4
truc
4 4
truc
4 5
truc
6 8
truc
3 4
truc
4 4
truc
3 2
truc
4 4
truc
4 4
truc
3 4
truc
3 2
truc
2 2
truc
3 3
truc
3 2
truc
3 4
truc
4 4
truc
4 5
truc
3 2
truc
6 6
truc
6 6
truc
6 6
truc
6 7
truc
3 3
truc
2 3
truc
3 2
truc
3 2
truc
6 5
truc
5 5
truc
5 5
truc
4 3
truc
3 3
truc
4 3
truc
4 4
truc
4 3
truc
3 2
truc
6 6
truc
5 4
truc
4 4
truc
3 2
truc
2 2
truc
4 5
truc
5 4
truc
4 4
truc
4 4
truc
2 3
truc
2 3
truc
3 3
truc
3 3
truc
2 3
truc
3 3
truc
2 3
truc
3 3
truc
5 6
truc
6 5
truc
5 5
truc
3 6
truc
6 5
truc
4 5
truc
5 5
truc
5 6
truc
3 3
truc
2 3
truc
3 3
truc
2 3
truc
3 3
truc
4 5
truc
5 5
truc
6 8
truc
6 5
truc
6 7
truc
7 6
truc
5 4
truc
3 3
truc
3 3
truc
5 6
truc
3 3
truc
4 5
truc
5 5
truc
2 2
truc
4 4
truc
4 4
truc
6 6
truc
6 6
truc
4 4
truc
4 3
truc
2 3
truc
3 4
truc
4 4
truc
3 4
truc
4 4
truc
3 4
truc
4 5
truc
3 4
truc
3 4
truc
3 3
truc
6 6
truc
5 5
truc
5 6
truc
6 7
truc
3 2
truc
5 4
truc
4 5
truc
5 6
truc
3 3
truc
4 4
truc
4 4
truc
3 3
truc
3 4
truc
5 4
truc
2 1
truc
3 3
truc
5 8
truc
8 7
truc
7 6
truc
2 2
truc
4 4
truc
3 2
truc
2 2
truc
4 4
truc
4 4
truc
4 4
truc
4 4
truc
3 3
truc
5 6
truc
3 3
truc
4 4
truc
6 8
truc
3 2
truc
6 6
truc
6 7
truc
5 6
truc
3 3
truc
6 6
truc
6 6
truc
6 6
truc
6 6
truc
3 2
truc
2 2
truc
3 2
truc
4 3
truc
3 3
truc
5 5
truc
5 6
truc
3 3
truc
3 3
truc
3 3
truc
3 3
truc
2 3
truc
2 3
truc
6 5
truc
5 6
truc
6 6
truc
4 4
truc
4 4
truc
4 5
truc
4 5
truc
5 5
truc
6 6
truc
6 7
truc
7 7
truc
5 5
truc
4 4
truc
4 5
truc
5 5
truc
4 4
truc
7 6
truc
6 6
truc
4 4
truc
5 4
truc
4 5
truc
5 7
truc
6 7
truc
7 7
truc
4 5
truc
5 6
truc
4 3
truc
4 5
truc
4 4
truc
4 3
truc
5 6
truc
6 5
truc
4 4
truc
3 3
truc
3 3
truc
3 3
truc
3 2
truc
2 2
truc
4 5
truc
3 2
truc
4 4
truc
4 4
truc
4 4
truc
4 5
truc
3 3
truc
4 3
truc
6 7
truc
6 6
truc
6 7
truc
5 3
truc
3 4
truc
2 2
truc
6 5
truc
4 3
truc
4 6
truc
6 8
truc
6 7
truc
3 3
truc
4 4
truc
6 6
truc
6 7
truc
4 3
truc
3 4
truc
4 4
truc
4 4
truc
4 4
truc
4 4
truc
1 2
truc
3 4
truc
4 4
truc
3 3
truc
3 5
truc
3 3
truc
3 2
truc
3 3
truc
2 2
truc
7 7
truc
7 8
truc
4 8
truc
8 6
truc
4 5
truc
4 3
truc
3 3
truc
6 7
truc
4 3
truc
3 3
truc
4 3
truc
3 3
truc
6 7
truc
7 8
truc
4 5
truc
5 5
truc
4 5
truc
5 5
truc
3 3
truc
3 4
truc
4 5
truc
3 4
truc
4 6
truc
6 5
truc
3 4
truc
6 5
truc
5 6
truc
5 6
truc
6 8
truc
3 4
truc
2 2
truc
3 3
truc
3 2
truc
4 4
truc
5 5
truc
5 4
truc
4 5
truc
2 2
truc
6 6
truc
6 6
truc
3 4
truc
5 4
truc
4 3
truc
5 5
truc
5 5
truc
5 6
truc
6 6
truc
4 6
truc
3 2
truc
2 2
truc
2 2
truc
2 3
truc
3 4
truc
3 4
truc
4 5
truc
6 6
truc
6 7
truc
6 6
truc
6 6
truc
6 7
truc
3 4
truc
4 4
truc
4 5
truc
7 7
truc
5 5
truc
5 4
truc
4 5
truc
5 6
truc
5 4
truc
4 4
truc
3 3
truc
2 3
truc
5 6
truc
6 6
truc
6 7
truc
7 6
truc
6 6
truc
6 7
truc
2 3
truc
4 5
truc
6 6
truc
6 6
truc
2 1
truc
2 1
truc
6 7
truc
5 7
truc
4 4
truc
4 5
truc
3 4
truc
4 5
truc
5 5
truc
3 2
truc
2 2
truc
3 3
truc
3 3
truc
2 2
truc
2 2
truc
2 2
truc
3 3
truc
2 2
truc
2 2
truc
2 2
truc
2 2
truc
3 2
truc
3 2
truc
2 1
truc
3 2
truc
3 2
truc
5 6
truc
5 6
truc
6 7
truc
3 3
truc
5 4
truc
4 5
truc
5 6
truc
3 3
truc
5 7
truc
3 3
truc
4 4
truc
4 4
truc
6 5
truc
3 3
truc
3 4
truc
4 4
truc
4 5
truc
5 7
truc
5 6
truc
6 5
truc
3 2
truc
3 4
truc
4 4
truc
3 4
truc
3 3
truc
2 3
truc
2 3
truc
2 3
truc
3 3
truc
4 5
truc
5 5
truc
5 4
truc
2 2
truc
5 5
truc
4 4
truc
3 3
truc
3 4
truc
4 4
truc
3 4
truc
4 4
truc
4 4
truc
3 4
truc
4 4
truc
4 4
truc
2 3
truc
3 3
truc
2 3
truc
2 3
truc
4 4
truc
2 3
truc
2 3
truc
2 3
truc
2 3
truc
5 5
truc
5 6
truc
3 2
truc
5 6
truc
4 5
truc
5 5
truc
4 5
truc
4 6
truc
6 2
truc
6 6
truc
2 2
truc
3 3
truc
5 6
truc
6 6
truc
6 7
truc
3 3
truc
3 3
truc
3 3
truc
4 4
truc
4 5
truc
5 7
truc
4 5
truc
6 7
truc
5 7
truc
2 3
truc
4 4
truc
4 3
truc
2 2
truc
2 3
truc
4 4
truc
2 3
truc
3 4
truc
4 5
truc
4 4
truc
6 7
truc
4 5
truc
5 4
truc
4 4
truc
4 3
truc
3 3
truc
4 4
truc
2 3
truc
3 3
truc
4 5
truc
5 4
truc
6 7
truc
7 7
truc
6 6
truc
6 7
truc
7 6
truc
4 3
truc
3 3
truc
4 6
truc
6 6
truc
6 5
truc
5 5
truc
7 6
truc
6 6
truc
3 3
truc
3 2
truc
2 3
truc
3 2
truc
4 4
truc
4 5
truc
5 6
truc
6 6
truc
3 3
truc
4 3
truc
3 3
truc
3 3
truc
3 2
truc
2 2
truc
4 4
truc
4 3
truc
4 4
truc
4 4
truc
5 5
truc
5 7
truc
6 5
truc
5 6
truc
2 2
truc
2 3
truc
4 7
truc
7 5
truc
5 4
truc
2 3
truc
6 6
truc
3 3
truc
6 5
truc
5 4
truc
7 7
truc
7 7
truc
3 2
truc
2 2
truc
2 3
truc
3 4
truc
5 6
truc
4 4
truc
4 4
truc
4 4
truc
4 4
truc
2 3
truc
4 4
truc
4 3
truc
3 3
truc
4 3
truc
3 3
truc
3 2
truc
6 6
truc
6 7
truc
7 7
truc
7 5
truc
6 7
truc
7 7
truc
7 7
truc
5 4
truc
4 4
truc
6 5
truc
6 7
truc
5 4
truc
5 5
truc
5 7
truc
3 4
truc
4 4
truc
5 5
truc
5 5
truc
2 3
truc
4 5
truc
5 5
truc
2 3
truc
3 4
truc
2 3
truc
3 3
truc
4 4
truc
4 4
truc
6 6
truc
6 6
truc
6 6
truc
5 4
truc
4 7
truc
6 6
truc
6 7
truc
3 2
truc
5 5
truc
5 5
truc
5 6
truc
5 5
truc
5 5
truc
4 4
truc
4 4
truc
4 4
truc
3 4
truc
4 3
truc
3 3
truc
4 4
truc
4 4
truc
4 5
truc
7 8
truc
5 6
truc
4 3
truc
4 3
truc
7 7
truc
6 8
truc
5 6
truc
6 5
truc
4 4
truc
4 4
truc
4 3
truc
3 4
truc
4 3
truc
4 4
truc
3 4
truc
4 4
truc
4 5
truc
5 6
truc
6 6
truc
3 3
truc
3 5
truc
5 5
truc
4 3
truc
5 5
truc
5 6
truc
6 7
truc
7 8
truc
8 7
truc
3 4
truc
7 7
truc
7 7
truc
7 8
truc
2 3
truc
4 4
truc
2 3
truc
3 3
truc
3 3
truc
3 4
truc
4 4
truc
4 4
truc
4 4
truc
2 3
truc
4 5
truc
5 4
truc
3 3
truc
3 3
truc
3 3
truc
3 4
truc
7 6
truc
6 6
truc
5 5
truc
5 4
truc
3 3
truc
6 5
truc
6 5
truc
5 6
truc
6 6
truc
6 4
truc
6 6
truc
6 5
truc
4 4
truc
5 4
truc
6 5
truc
5 5
truc
5 5
truc
2 2
truc
2 2
truc
3 2
truc
6 6
truc
2 2
truc
2 3
truc
3 4
truc
2 3
truc
3 3
truc
4 4
truc
5 6
truc
6 5
truc
5 6
truc
6 6
truc
6 6
truc
3 4
truc
4 4
truc
4 4
truc
4 5
truc
4 4
truc
4 4
truc
6 5
truc
5 5
truc
5 6
truc
6 6
truc
2 3
truc
3 3
truc
5 6
truc
3 3
truc
2 2
truc
4 4
truc
4 5
truc
5 6
truc
6 6
truc
4 5
truc
4 4
truc
5 5
truc
5 4
truc
4 4
truc
2 2
truc
3 4
truc
3 4
truc
2 2
truc
2 3
truc
5 4
truc
4 4
truc
4 4
truc
5 5
truc
4 5
truc
5 6
truc
4 5
truc
5 6
truc
6 6
truc
2 3
truc
6 6
truc
6 5
truc
5 4
truc
4 3
truc
6 5
truc
7 8
truc
5 6
truc
6 7
truc
7 8
truc
4 4
truc
5 4
truc
4 4
truc
4 3
truc
3 3
truc
5 7
truc
7 6
truc
3 4
truc
7 6
truc
3 3
truc
4 4
truc
4 5
truc
3 1
truc
5 8
truc
2 4
truc
4 4
truc
2 2
truc
2 2
truc
5 7
truc
3 3
truc
2 3
truc
3 2
truc
3 3
truc
3 3
truc
3 3
truc
3 4
truc
4 4
truc
2 1
truc
5 5
truc
3 3
truc
3 3
truc
3 3
truc
3 6
truc
6 6
truc
3 3
truc
3 2
truc
5 6
truc
6 6
truc
3 4
truc
2 2
truc
2 2
truc
5 6
truc
7 8
truc
3 3
truc
3 3
truc
3 4
truc
4 4
truc
4 4
truc
4 4
truc
6 7
truc
4 5
truc
5 5
truc
2 3
truc
4 4
truc
3 3
truc
3 4
truc
6 7
truc
7 8
truc
4 4
truc
6 6
truc
2 2
truc
5 6
truc
6 5
truc
4 4
truc
4 5
truc
5 4
truc
5 4
truc
4 4
truc
5 4
truc
4 4
truc
4 3
truc
4 4
truc
4 4
truc
4 4
truc
4 4
truc
4 4
truc
5 4
truc
4 4
truc
3 4
truc
4 4
truc
4 6
truc
4 4
truc
4 4
truc
4 4
truc
5 5
truc
5 4
truc
4 4
truc
3 6
truc
6 4
truc
4 3
truc
4 4
truc
4 5
truc
3 3
truc
4 3
truc
4 5
truc
5 7
truc
2 2
truc
6 6
truc
6 5
truc
4 5
truc
5 8
truc
4 4
truc
6 3
truc
3 4
truc
4 5
truc
5 7
truc
7 8
truc
5 8
truc
8 7
truc
7 6
truc
6 7
truc
7 7
truc
2 2
truc
2 2
truc
2 2
truc
6 5
truc
4 4
truc
4 5
truc
5 4
truc
5 6
truc
2 6
truc
6 5
truc
3 4
truc
6 6
truc
6 6
truc
7 6
truc
6 4
truc
4 4
truc
4 4
truc
4 6
truc
6 3
truc
2 3
truc
3 3
truc
6 6
truc
6 5
truc
7 8
truc
2 2
truc
3 4
truc
4 4
truc
4 5
truc
5 4
truc
3 2
truc
7 6
truc
4 4
truc
6 6
truc
6 7
truc
3 3
truc
3 4
truc
3 4
truc
4 5
truc
5 5
truc
5 5
truc
5 5
truc
3 4
truc
4 4
truc
4 4
truc
4 4
truc
4 4
truc
3 3
truc
4 5
truc
5 6
truc
6 6
truc
5 6
truc
2 1
truc
6 5
truc
5 5
truc
5 5
truc
3 4
truc
4 4
truc
4 4
truc
5 6
truc
4 3
truc
6 7
truc
7 8
truc
5 6
truc
6 5
truc
4 3
truc
5 7
truc
5 5
truc
4 4
truc
4 5
truc
3 4
truc
4 4
truc
4 6
truc
6 6
truc
4 4
truc
4 5
truc
5 3
truc
4 4
truc
7 7
truc
4 4
truc
4 5
truc
5 4
truc
4 4
truc
4 3
truc
3 3
truc
3 3
truc
3 3
truc
3 1
truc
4 4
truc
3 3
truc
2 3
truc
3 3
truc
4 4
truc
6 7
truc
7 7
truc
7 8
truc
8 7
truc
3 3
truc
3 3
truc
3 3
truc
5 5
truc
5 5
truc
5 7
truc
7 7
truc
7 7
truc
7 7
truc
4 4
truc
5 8
truc
3 3
truc
3 4
truc
4 4
truc
7 6
truc
6 6
truc
6 5
truc
5 5
truc
4 5
truc
2 2
truc
3 5
truc
5 3
truc
7 5
truc
5 4
truc
2 3
truc
3 3
truc
3 4
truc
3 3
truc
6 7
truc
7 6
truc
6 6
truc
4 4
truc
4 4
truc
4 3
truc
3 3
truc
3 2
truc
3 3
truc
3 2
truc
3 3
truc
5 4
truc
3 4
truc
2 3
truc
3 3
truc
6 6
truc
5 5
truc
4 5
truc
4 4
truc
4 5
truc
3 4
truc
4 4
truc
4 5
truc
5 6
truc
4 6
truc
6 5
truc
3 3
truc
3 2
truc
3 3
truc
3 3
truc
6 5
truc
6 7
truc
6 7
truc
3 2
truc
3 3
truc
2 2
truc
5 5
truc
5 4
truc
2 1
truc
3 2
truc
2 2
truc
2 3
truc
5 4
truc
4 4
truc
4 5
truc
3 2
truc
2 2
truc
2 3
truc
7 5
truc
5 4
truc
4 4
truc
3 4
truc
4 4
truc
4 6
truc
4 5
truc
5 7
truc
2 2
truc
2 3
truc
2 3
truc
3 3
truc
4 4
truc
5 4
truc
4 4
truc
4 4
truc
4 5
truc
5 6
truc
6 6
truc
2 3
truc
3 3
truc
2 3
truc
3 3
truc
2 2
truc
2 3
truc
3 4
truc
4 5
truc
4 6
truc
6 6
truc
3 4
truc
5 4
truc
4 4
truc
4 4
truc
3 3
truc
3 3
truc
3 2
truc
4 5
truc
5 5
truc
4 4
truc
6 6
truc
3 3
truc
5 6
truc
3 2
truc
7 8
truc
3 4
truc
3 4
truc
4 5
truc
4 4
truc
3 3
truc
3 3
truc
4 3
truc
5 5
truc
3 3
truc
7 8
truc
8 8
truc
4 4
truc
4 4
truc
7 6
truc
6 6
truc
2 1
truc
2 2
truc
2 2
truc
2 2
truc
3 4
truc
4 4
truc
3 4
truc
4 5
truc
3 3
truc
3 3
truc
3 4
truc
4 4
truc
4 4
truc
3 4
truc
4 4
truc
4 5
truc
5 5
truc
5 4
truc
4 5
truc
5 6
truc
5 6
truc
5 4
truc
4 4
truc
2 4
truc
4 3
truc
4 4
truc
4 4
truc
5 6
truc
6 6
truc
3 3
truc
4 4
truc
4 4
truc
4 4
truc
4 4
truc
4 3
truc
4 3
truc
6 7
truc
7 7
truc
7 8
truc
3 2
truc
5 4
truc
6 4
truc
3 4
truc
3 3
truc
4 3
truc
3 3
truc
7 7
truc
3 4
truc
4 4
truc
4 5
truc
3 3
truc
3 2
truc
3 3
truc
6 6
truc
6 6
truc
6 7
truc
6 6
truc
6 5
truc
6 7
truc
7 7
truc
7 7
truc
6 7
truc
5 6
truc
6 5
truc
6 6
truc
5 5
truc
4 4
truc
4 4
truc
4 4
truc
4 4
truc
4 3

In [216]:
mat

    1    2    3    4    5    6   7   8
1  27    2    0    0    1    0   0   0
2  11  214   63    2    0    1   0   0
3   2   48  402   87    5    3   0   0
4   0    0   57  398   89   14   2   1
5   0    0    4   56  143   72  15   5
6   0    1    2    4   44  145  53   6
7   0    0    0    0    4   17  48  18
8   0    0    0    0    0    1   5  15

In [217]:
trans_mat = mat / mat.sum(axis=0) #should the sum ba one on the axis 0 or 1

In [218]:
trans_mat

       1         2         3         4         5         6         7         8
1  0.675  0.007547  0.000000  0.000000  0.003497  0.000000  0.000000  0.000000
2  0.275  0.807547  0.119318  0.003656  0.000000  0.003953  0.000000  0.000000
3  0.050  0.181132  0.761364  0.159049  0.017483  0.011858  0.000000  0.000000
4  0.000  0.000000  0.107955  0.727605  0.311189  0.055336  0.016260  0.022222
5  0.000  0.000000  0.007576  0.102377  0.500000  0.284585  0.121951  0.111111
6  0.000  0.003774  0.003788  0.007313  0.153846  0.573123  0.430894  0.133333
7  0.000  0.000000  0.000000  0.000000  0.013986  0.067194  0.390244  0.400000
8  0.000  0.000000  0.000000  0.000000  0.000000  0.003953  0.040650  0.333333

In [165]:
#Creation of a dataframe only with the year
df['Year'] = df['Date'].dt.year

In [166]:
df

      Id       Date  Rating  Year
530  301 2020-06-30       4  2020
531  302 2016-05-30       4  2016
532  303 2020-10-21       5  2020
533  303 2021-09-21       5  2021
534  304 2018-11-30       2  2018
535  304 2018-12-30       1  2018
536  304 2022-05-30       2  2022
537  304 2022-05-30       2  2022
538  305 2018-06-30       4  2018

In [167]:
index = [1,2,3,4,5,6,7,8]
mat = pd.DataFrame(0, index = index, columns = index) #Creation of the empty transition matrix
for i in df["Id"].unique(): #iterating when the Id
	l = df[df["Id"] == i].reset_index() #Considering when Id are the same ( to get only one company)
	#pd.to_datetime(l,format='%Y-%m-%d')
	#pd.to_datetime(l.stack(), format='%Y-%m-%d').unstack()
	#l = l.apply(lambda x : pd.to_datetime(x,format='%Y-%m-%d',errors='ignore'))
	if len(l) > 1: # if < 1 ==> no transition happened
		for j in range(1, len(l) - 1):
			if l.loc[j]["Rating"] != l.loc[j+1]["Rating"] and l.loc[j]["Year"] != l.loc[j+1]["Year"]: #not taking into account transition within a year only from year n to n+1
				mat.loc[l.loc[j]["Rating"]][l.loc[j+1]["Rating"]] += 1
		
		#Creation of a dataframe with only the year : 
		

		for d in l["Year"].unique(): #Transition within a year
			l_2 = l[l["Year"] == d] # considering when the year are the same
			print(l_2)
			print(len(l_2) > 1)
			print(l_2["Rating"].iloc[0] != l_2["Rating"].iloc[-1])
			print((len(l_2) > 1) and (l_2["Rating"].iloc[-1] != l_2["Rating"].iloc[-1]))
			if len(l_2) > 1 and l_2["Rating"].iloc[0] != l_2["Rating"].iloc[-1]: #considering when there is more than one transition within a year and considering only the first and and the last transition
				mat.loc[l_2["Rating"].iloc[0]][l_2["Rating"].iloc[-1]] += 1 # Add one when a tansition whithin a year is found
	else : 
		mat.loc[l.loc[0]["Rating"]][l.loc[0]["Rating"]] += 1

   index   Id       Date  Rating  Year
0    532  303 2020-10-21       5  2020
False
False
False
   index   Id       Date  Rating  Year
1    533  303 2021-09-21       5  2021
False
False
False
   index   Id       Date  Rating  Year
0    534  304 2018-11-30       2  2018
1    535  304 2018-12-30       1  2018
True
True
False
   index   Id       Date  Rating  Year
2    536  304 2022-05-30       2  2022
3    537  304 2022-05-30       2  2022
True
False
False

In [168]:
mat = pd.DataFrame(0, index = index, columns = index) #Creation of the empty transition matrix
for i in df["Id"].unique(): #iterating when the Id
	l = df[df["Id"] == i].reset_index() #Considering when Id are the same ( to get only one company)
	#pd.to_datetime(l,format='%Y-%m-%d')
	#pd.to_datetime(l.stack(), format='%Y-%m-%d').unstack()
	#l = l.apply(lambda x : pd.to_datetime(x,format='%Y-%m-%d',errors='ignore'))
	if len(l) > 1: # if < 1 ==> no transition happened
		for j in range(1, len(l) - 1):
			if l.loc[j]["Rating"] != l.loc[j+1]["Rating"] and l.loc[j]["Year"] != l.loc[j+1]["Year"]: #not taking into account transition within a year only from year n to n+1
				mat.loc[l.loc[j]["Rating"]][l.loc[j+1]["Rating"]] += 1

In [169]:
mat

   1  2  3  4  5  6  7  8
1  0  1  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0

In [170]:
trans_mat = mat / mat.sum(axis=0) #should the sum ba one on the axis 0 or 1

In [171]:
trans_mat

    1    2   3   4   5   6   7   8
1 NaN  1.0 NaN NaN NaN NaN NaN NaN
2 NaN  0.0 NaN NaN NaN NaN NaN NaN
3 NaN  0.0 NaN NaN NaN NaN NaN NaN
4 NaN  0.0 NaN NaN NaN NaN NaN NaN
5 NaN  0.0 NaN NaN NaN NaN NaN NaN
6 NaN  0.0 NaN NaN NaN NaN NaN NaN
7 NaN  0.0 NaN NaN NaN NaN NaN NaN
8 NaN  0.0 NaN NaN NaN NaN NaN NaN

In [172]:
#New method : creation of a dataframe of time period

In [173]:
df

      Id       Date  Rating  Year
530  301 2020-06-30       4  2020
531  302 2016-05-30       4  2016
532  303 2020-10-21       5  2020
533  303 2021-09-21       5  2021
534  304 2018-11-30       2  2018
535  304 2018-12-30       1  2018
536  304 2022-05-30       2  2022
537  304 2022-05-30       2  2022
538  305 2018-06-30       4  2018

In [174]:
df[df["Id"] == 303]['Date'].searchsorted('2020-12-31')

1

In [175]:
new_df = pd.DataFrame()
for year in df['Date'].year : 
    new_df["Date"].happend(f'31-12-{year}')
    
for a in df["Id"].unique(): #iterating when the Id
    l = df[df["Id"] == i].reset_index()
    for d in l["Year"].unique(): #Transition within a year
        l_2 = l[l["Year"] == d] # considering when the year are the same
        new_df[(new_df["Id" == a]) & (new_df["Year" == d])]["Rating"] = l_2["Rating"].iloc[-1]

AttributeError: 'Series' object has no attribute 'year'

In [176]:
#Only keep the last

In [177]:
for a in df["Id"].unique(): #iterating when the Id
    l = df[df["Id"] == i].reset_index()
    for d in l["Year"].unique():
        new_df.append(id = a, date = year, rating= rating[-1])

NameError: name 'year' is not defined

In [229]:
df = df.loc[330:340]

In [230]:
df

      Id       Date  Rating  Year
330  200 2016-05-30       4  2016
331  201 2021-12-30       4  2021
332  202 2016-06-21       5  2016
333  202 2016-09-21       5  2016
334  202 2018-12-30       5  2018
335  203 2020-05-30       6  2020
336  203 2021-05-30       6  2021
337  204 2018-08-21       3  2018
338  204 2019-05-30       3  2019
339  204 2019-05-30       4  2019
340  204 2019-08-21       6  2019

In [231]:
new_df = df.drop_duplicates(subset=['Id','Year'], keep='last')

In [232]:
new_df

      Id       Date  Rating  Year
330  200 2016-05-30       4  2016
331  201 2021-12-30       4  2021
333  202 2016-09-21       5  2016
334  202 2018-12-30       5  2018
335  203 2020-05-30       6  2020
336  203 2021-05-30       6  2021
337  204 2018-08-21       3  2018
340  204 2019-08-21       6  2019

In [233]:
index = [1,2,3,4,5,6,7,8]
mat = pd.DataFrame(0, index = index, columns = index) #Creation of the empty transition matrix
for i in new_df["Id"].unique(): #iterating when the Id
	l = new_df[new_df["Id"] == i].reset_index() #Considering when Id are the same ( to get only one company)
	if len(l) > 1:
		for j in range(len(l)-1):
			print('truc')
			mat.loc[l.loc[j]["Rating"]][l.loc[j+1]["Rating"]] += 1
			print(l.loc[j]["Rating"],l.loc[j+1]["Rating"])
	else : 
		mat.loc[l.loc[0]["Rating"]][l.loc[0]["Rating"]] += 1

truc
5 5
truc
6 6
truc
3 6

In [234]:
mat

   1  2  3  4  5  6  7  8
1  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0
3  0  0  0  0  0  1  0  0
4  0  0  0  2  0  0  0  0
5  0  0  0  0  1  0  0  0
6  0  0  0  0  0  1  0  0
7  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0

In [ ]:
		for j in range(1, len(l) - 1):
			l_2 = l[l["Year"] == d]
			if l.loc[j]["Date"].year != l.loc[j+1]["Date"].year: #not taking into account transition within a year only from year n to n+1

In [183]:
df_2

    Id       Date  Rating  Year
0  301 2020-06-30       4  2020
1  302 2016-05-30       4  2016
2  303 2020-10-21       5  2020
3  303 2021-09-21       5  2021
4  304 2018-11-30       2  2018
5  304 2018-12-30       1  2018
6  304 2022-05-30       2  2022
7  304 2022-05-30       2  2022
8  305 2018-06-30       4  2018
9  305        NaT       4  2018